
.quantity{
    width: 30px;
    text-align: center;
    color: var(--clr-main);
    border: .0625rem solid var(--clr-main);
    padding: .5rem 1rem;
    outline: none;
    background: transparent;
}

input:focus{
    border: .0625rem solid var(--clr-main);
}

@media (max-width: 768px) {
    .quantity{
        padding: .2rem .5rem;
    }
}