.top-nav-container {
    display: flex;
    background: var(--clr-main-bg);
    justify-content: center;
    padding-top: var(--mg-sm);
    padding-bottom: var(--mg-sm);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}

.top-nav {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    align-items: center;
}

.website-logo-container {
    height: auto;
    display: flex;
}

.website-logo {

    max-width: 100%;
    height: auto;
    position: relative;
}

#nav-container {
    display: flex;
    justify-content: center;
}

.nav-list-link {
    color: var(--clr-main);
    text-decoration: none;
    font-size: var(--fs-sm);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-rg);
    text-transform: uppercase;
    padding: .5rem;
    transition: 0.5s;
}

.nav-list-link:hover {
    background: var(--clr-main);
    color: var(--clr-white);
}

.nav-list-link.active {
    background: var(--clr-main);
    color: var(--clr-white);
}

.nav-menu-list-link {
    text-transform: capitalize;
    transition: 0s;
    cursor: pointer;
}

.nav-menu-list-link:hover {
    border-bottom: 3px solid;
    background: transparent;
    color: var(--clr-main);
}

.nav-menu-list-link.active {
    border-bottom: 3px solid;
    background: transparent;
    color: var(--clr-main);
}

.nav-list {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 1rem;
    list-style-type: none;
}

.nav-list.active {
    background: var(--clr-main);
    color: var(--clr-white);
}

#btnMenu:hover + #dropdown-content,
#dropdown-content:hover {
    visibility: visible;
    opacity: 1;
    margin-top: .5rem;
}


#dropdown-content {
    display: flex;
    visibility: hidden;
    transition: .3s;
    opacity: 0;
    flex-direction: column;
    position: absolute;
    background-color: var(--clr-main-bg);
    border-bottom: .0625rem solid var(--clr-main);
    min-width: 160px;
    box-shadow: var(--bs-main);
    z-index: 4000;
    margin-top: 3rem;
    padding: 1rem;
}

.menu{
    color: var(--clr-main);
}

.icons_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    list-style-type: none;
    padding: 0;
}

#mobile-open-btn,
#mobile-close-btn {
    display: none;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.categories-buttons-container {
    display: flex;
    justify-content: center;
    width: 80vw;
    margin: var(--mg-sm) auto;
}

.filter-dishes-menu-container {
    background: var(--clr-white);
    box-shadow: var(--bs-main);
    width: 400px;
    padding: 1rem;
}

#account-menu {
    display: flex;
    visibility: hidden;
    flex-direction: column;
    position: absolute;
    padding: 1rem;
    background-color: var(--clr-main-bg);
    z-index: 5000;
    min-width: 160px;
    border-bottom: .0625rem solid var(--clr-main);
    box-shadow: var(--bs-main);
    right: 5rem;
    transition: .3s;
    opacity: 0;
    margin-top: 3rem;
}

#user-icon:hover + #account-menu, 
#account-menu:hover{
   visibility: visible;
   opacity: 1;
   margin-top: 0rem;

    
}

#user-icon{
    cursor: pointer;
}

.user-img:hover, .search-img:hover, .bag-img:hover{
    transform: scale(1.1);
}

.cart-img{
    cursor: pointer;
}

.account-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.account-nav-list-link {
    text-transform: capitalize;
}

.account-nav-list-link:hover {
    background: transparent;
    color: var(--clr-main);
    border-bottom: .0625rem solid var(--clr-main);
}


@media (max-width: 767.98px) {
    .website-logo-container {
        order: 2;
        margin-bottom: .5rem;
    }

    .search-icon, .bag-icon{
        display: none;
    }

    #user-icon{
        display: flex;
        width: 1.5625rem;
        height: 1.5625rem;
        cursor: pointer;
    }

    

    .account-list{
        align-items: flex-start !important;
    }
    

    .icons_container {
        display: flex;
        order: 1;
        justify-content: flex-start;
        gap: 0;
    }

    #nav-container {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        justify-content: start;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 80vw;
        background-color: var(--clr-main-bg);
        padding: 1rem;
        z-index: 5000;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        transition: .5s;
    }

    #nav-container.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: flex-end;
        gap: 2rem;
    }

    .menu-filter-products-list {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        gap: 2rem;
    }

    #mobile-open-btn {
        display: block;
        order: 3;
    }

    #mobile-close-btn {
        display: block;
    }

    #account-menu {
        width: 70px;
        left: 0;
    }

    .categories-buttons-container {
        justify-content: center;
    }

    .filter-dishes-menu-container {
        width: auto;
    }

}