/*used in hero titles*/
.hero-title1{
    font-family: var(--ff-main);
    /*font-size: clamp(var(--fs-lg), 4rem, var(--fs-xl));*/
    font-size:  calc(var(--fs-md) + 2vw);;
    font-weight: var(--fw-rg);
    margin: 0;
}

/*used in hero titles*/
.hero-title2{
    font-family: var(--ff-main);
    /*font-size: clamp(var(--fs-xl), 7rem, var(--fs-xxl));*/
    font-size:  calc(var(--fs-xl) + 2.2vw);;
    font-weight: var(--fw-bk);
    margin: 0;
    line-height: 1.2;
}
/*used in hero paragraph*/
.hero-text{
    font-family: var(--ff-secondary);
    font-size: clamp(var(--fs-esm), var(--fs-sm), var(--fs-nm));
    font-weight: var(--fw-lg);
    margin: 0;
}

/*used for website sections title*/
.home-title1{
    color: var(--clr-gray);
    font-family: var(--ff-main);
    font-size: clamp(1rem,var(--fs-lg), var(--fs-xl));
    font-weight: var(--fw-rg);
    margin: 0;
  
}

/*used for website sections title*/
.home-title2{
    color: var(--clr-main);
    font-family: var(--ff-main);
    font-size: clamp(var(--fs-lg), var(--fs-xl), var(--fs-xxl));
    font-weight: var(--fw-bk);
    margin: 0;

}

a{text-decoration: none;}

/*used for dishes titles*/
.dish-title{
    color: var(--clr-main);
    font-family: var(--ff-secondary);
    font-size: var(--fs-sm);
    font-weight: var(--fw-sb);
    margin: 0;
    text-transform: uppercase;
}

/*used for dishes type/category*/
.dish-type{
    color: var(--clr-gray);
    font-family: var(--ff-secondary);
    font-size: var(--fs-esm);
    font-weight: var(--fw-rg);
    margin: 0;
}

/*used for dishes price*/
.dish-price{
    color: var(--clr-gray);
    font-family: var(--ff-secondary);
    font-size: var(--fs-nm);
    font-weight: var(--fw-md);
    margin-bottom: 2rem;
}

 /*used for slides titles*/
.slide-title{
    font-size: var(--fs-md);
    margin-bottom: 2rem;
}

/*used for slides descriptions*/
.slide-description{
    font-size: var(--fs-sm);
    margin: 1rem auto;
}

/*used for about us section description*/
.restaurant-data-text{
    font-size: var(--fs-sm);
    margin: var(--mg-sm) auto;
}

.service-title{color: var(--clr-gray);}

.footer-titles{color: var(--clr-white);}

.menu-header-title{color: var(--clr-white);}

/*used for footer links*/
.nav-footer-link{
    font-family: var(--ff-secondary);
    font-weight: var(--fw-rg);
    font-size: var(--fs-nm);
    color: var(--clr-white);
    text-decoration: none;
}


.filter-dishes-title{
    text-transform: uppercase;
    font-family: var(--ff-secondary);
    font-size: var(--fs-nm);
    font-weight: var(--fw-sb);
    color: var(--clr-white);
    background: var(--clr-main);
    padding: .5rem;
}

.single-dish-title{ font-size: var(--fs-md);}

.single-dish-price{font-size: var(--fs-md);}

.contact-texts{
    color: var(--clr-gray);
}

.footer-legal{
    font-family: var(--ff-secondary);
    font-weight: var(--fw-lg);
    font-size: var(--fs-sm);
    color: var(--clr-white);
    text-align: center;
}

.wish-list-title{
    margin: 2rem auto;
}
.add-address{
    color: var(--clr-main);
    text-decoration: underline;
}

